@import "tailwindcss";
@plugin "daisyui";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Custom Text Classes --- */
.text-primary {
  @apply text-purple-700;
}

.text-secondary {
  @apply text-white;
}

.text-muted {
  @apply text-gray-500 text-sm;
}

/* --- Custom Buttons --- */
@layer components {
  .btn-primary {
    @apply btn text-white font-semibold rounded-lg px-5 py-2 shadow-md transition duration-300
   from-yellow-500 
      hover:from-yellow-600 border-none;
  }

  .btn-secondary {
    @apply btn border border-yellow-500 text-yellow-600 font-medium rounded-lg px-5 py-2 transition duration-300
      hover:bg-yellow-50 hover:text-yellow-700;
  }

  .btn-outline {
    @apply btn border bg-purple-100 border-purple-400 text-gray-700 hover:bg-gray-100 font-semibold rounded-lg px-5 py-2 transition duration-200;
  }
}
